aside.main-sidebar
    section.sidebar
        .user-panel
            .pull-left.image
                img(src='/adminlte/dist/img/user8-128x128.jpg',alt='User Image').img-align-left.img-circle
            .pull-left.info
                p Admin 
        ul.sidebar-menu
            li.treeview
                a(href='/customers/home')
                    i.fa.fa-house-user
                    span
                        | Dashboard
                    span.pull-right-container
            li.treeview
                a(href='/')
                    i.fa.fa-list
                    span
                        | Data Customer
                    span.pull-right-container
            li.treeview
                a(href='/databarang/data')
                    i.fa.fa-shopping-cart
                    span
                        | Data Barang
                    span.pull-right-container